<%= form_tag(search_path) do |f| %>
  <div class="input-group">
    <%= text_field_tag ("Name", method: :get) %>
    <%= submit_tag %>
  </div>
  <br>
<% end %>





<!-- 
    t.string   "name"
    t.string   "address"
    t.string   "website"
    t.string   "phone"
    t.float    "lat"
    t.float    "long"
    t.datetime "created_at"
    t.datetime "updated_at" -->