<h1>This is where you view all restaurants!</h1>

<h2 class='text-center'>All Hurdr Restaurants</h2>
<hr>
<br>
<div class="row text-center">
  <% @restaurants.each do |restaurant| %>
    <div class="col-md-4">
      <p><%= restaurant.name %></p>
    </div>
<% end %>
</div>
